/* mobile menu start */

.image {
  width: 30px;
}
/* mobile menu end */

/* Drop down nav start */
.top-nav {
  padding: 14px 0px;
  background-color: rgb(173, 173, 173);
}

.nav-item {
  display: inline;
  width: 60px;
  padding: 12px 16px;
}

.nav-item:hover {
  background-color: rgb(85, 85, 85);
  color: white;
}

.dropdown {
  position: absolute;
}

/* Drop down nav end */